<div class="container">
    
    <!-- Page Header -->
    <div class="page-header">
        <h2>Каталог товаров <small>beta version</small></h2>
    </div>

    <div class="row">
        <!-- Categories -->
        <div class="col-md-3">
            <category-component></category-component>
        </div>

        <!-- Items -->
        <div class="col-md-6">
            <items-component></items-component>
        </div>

        <!-- Item Details -->
        <div class="col-md-3">       
            <details-component></details-component>
        </div>
    </div>    
</div>
